In [8]:
pip install micromlgen

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: micromlgen in /usr/local/lib/python3.8/dist-packages (1.1.28)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from micromlgen) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->micromlgen) (2.0.1)

In [9]:
from sklearn.model_selection import train_test_split as split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from pandas import read_csv
from micromlgen import port
from sklearn.preprocessing import LabelEncoder

In [10]:
# Load dataset
df = read_csv('https://raw.githubusercontent.com/wooihaw/datasets/main/genders_heights_weights.csv')
df.sample(5)

      Gender  Height  Weight
8472  Female   168.9    73.1
8095    Male   187.9    90.7
9063    Male   179.5    86.2
5032  Female   171.8    69.0
901   Female   167.4    68.3

In [11]:
from pandas import get_dummies

df2 = get_dummies(df, drop_first=True)
df2.sample(5)

      Height  Weight  Gender_Male
7105   161.7    56.6            0
9959   160.5    61.5            0
6930   176.7    92.2            1
5720   172.6    80.4            1
3118   181.8    97.7            1

In [12]:
# Divide in features and targets
y = df2['Height'].values  # targets
del df2['Height']  # remove Height column

X = df2.values  # features

X_train, X_test, y_train, y_test = split(X, y, random_state=42)

lnr = LinearRegression().fit(X_train, y_train)
print(f"lnr R2 score: {lnr.score(X_test, y_test)}")

lnr R2 score: 0.8646465588336375

In [13]:
# Perform prediction on user input values
h = float(input("Enter weight in kg: "))
g = float(input("Enter gender (female->0, male->1): "))
print(f"Predicted as {lnr.predict([[h, g]])} cm")

Enter weight in kg: 80
Enter gender (female->0, male->1): 1
Predicted as [172.04509897] cm

In [7]:
# Export to C code
c_code = port(lnr)

with open("linear_regression.h", 'w') as f:
  f.write(c_code)